body { 
    display: flex;
    flex-direction: row;
    margin: 0;
}

.image-container { 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    position: relative; 
}

.image-container img {
    width: auto;
    height: 100vh;
    margin: 0;
}

.image-container .text-container {
    position: absolute;
    top: 20rem;
    color: white;
    font-size: 7rem;
    background-color: #222;
    width: 100%;
    text-align: center;
}

.form-container { 
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}